.service {
  padding: 0 3rem;
  height: auto; /* Adjust height for responsiveness */
  margin-bottom: 10rem;
  margin-top: 3rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.serviceCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center cards horizontally */
  gap: 10px;
}

.serviceCard {
  flex: 1 1 300px; /* Default size, can grow or shrink */
  max-width: 300px; /* Set max width to prevent overflow */
}

/* Responsive design for medium screens and up */
@media (min-width: 768px) {
  .serviceCardsContainer {
    flex-direction: row; /* Arrange cards in a row */
  }

  .serviceCard {
    flex: 1; /* Each card takes equal space */
    max-width: none; /* Remove max-width restriction */
    margin: 0 10px; /* Optional: add margin between cards */
  }
}

/* Responsive design for screens with max-width 480px */
@media screen and (max-width: 480px) {
  .serviceCardsContainer {
    flex-direction: column;
    align-items: center; /* Center cards vertically */
  }

  .serviceCard {
    margin-bottom: 2rem; /* Add margin between cards */
    width: 100%; /* Make cards full-width on small screens */
    max-width: none; /* Remove max-width restriction */
  }

  .awesome {
    margin-bottom: 1rem;
    text-align: center;
  }

  .awesome > :nth-child(1),
  .awesome > :nth-child(2) {
    font-size: 1.5rem;
  }

  .awesome > :nth-child(3) {
    font-size: 12px;
  }
}
