/* left side */
.about-us {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 3rem 0 3rem;
  height: 15rem;
  margin-bottom: 10rem;
  margin-top: 5rem;
  /* scroll view */
}

.right-side {
  height: 15rem;
  margin-bottom: 13rem;
  margin-top: 5rem;
  /* scroll view */
}

.about-us > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}

.about-us > :nth-child(2) {
  color: var(--green);
  font-size: 2.5rem;
  font-weight: bold;
}

.about-us > :nth-child(3) {
  color: var(--gray);
  font-size: 14px;
  margin-top: 1rem;
}

.s-button {
  width: 8rem;
  height: 2rem;
  margin-top: 2rem;
}

.f-icons {
  height: 2rem;
  margin-top: 2rem;
}

/* Responsive design for screens with max-width 480px */
@media (max-width: 600px) {
  .container {
    padding: 0 1rem;
  }

  .about-us {
    padding: 0 1rem;
    height: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .right-side {
    height: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .about-us > :nth-child(1), 
  .about-us > :nth-child(2) {
    font-size: 1.5rem;
  }

  .about-us > :nth-child(3) {
    font-size: 12px;
  }

  .s-button {
    width: 6rem;
    height: 1.5rem;
    margin-top: 1rem;
  }

  .f-icons {
    height: 1.5rem;
    margin-top: 1rem;
  }

  .f-icons > * {
    margin: 0 0.5rem;
  }

  img.img-fluid {
    width: 100%;
    height: auto;
  }
}
