
.Intro {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 3;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 20px; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent overlay */
  z-index: 2;
}






@media screen and (max-width: 480px) {
  .Intro {
    height: auto;
  }

  .background-video {
    height: auto;
  }

  .content {
    padding: 10px;
  }

  .content h1 {
    font-size: 1rem;
  }

  .content p {
    font-size: 1rem;
  }
}
